html{
	background-color: #ffffff;
	text-align: center;
	}

.clear{
	clear: both;
	}
	
nav{
	font-weight: 300;
	position: relative;
	top: 100px;
	left: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #00D0FF;
	width:30%;
	padding: 16px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	}
	
a {
	padding: 10px;
	text-decoration: none;
	color:#ffffff;
	transition: 0.7s;
	}
	
a:hover{
	text-decoration: none;
	color:#73FFFD;

	}
	
a:active {
	text-decoration: none;
	color: #73FFFD;
	}


body {
	font-family: "Open Sans", futura, arial, sans-serif;
	font-size: 17px;
	margin: 0;
	font-weight: 200;
}

img.logo {
	position: relative;
	bottom: 10px;
	right: 27px;
	width: 150px;
	height: auto;
}

#logo {
	margin: 0px;
	padding: 0px;
	position: fixed;
	height: 100px;
	width: 107%;
	left: -19px;
	background-image: url('images/top.png');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: 100% auto;
	background-position: top;
	z-index: 10;
	}

#image {
	height:580px;
	background-image: url('images/intro.jpg');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: 1500px auto;
	background-position: bottom;
}
ul.icons{
	float: right;
	}
	
li {
	list-style-type: none;
	}

#icons {
		height: 70px;
	}

#intro{
	margin: auto;
	padding: auto;
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	border-bottom: dotted;
	border-width: 3px;
	border-color: #efefef;
	margin-bottom: 20px;
}

h1	{
	color: #00D0FF;
	}
	
	
p	{
	text-align: justify;
	}
	
img {
	display: inline;
}
	
#pictures {
	height: 400px;
	margin-left:0;
	margin-right:0;
	overflow: scroll;
	}
	
#gallery {
	padding-bottom: 10px;
	width:100%;
	height: auto;
	}

footer {
	height:200px;
	background-color: #00D0FF;
	}

#space {
	height: 60px;
}

/*desktop*/

@media screen and (min-width: 500px){
	
	#intro{
	margin: auto;
	padding: auto;
	width: 850px;
	height: 300px;
	background-color: #ffffff;
	border-bottom: dotted;
	border-width: 3px;
	border-color: #efefef;
	margin-bottom: 20px;
	}
	
	P{	
	text-align:justify;
	padding:px;
	width: 400px;
	}
	
	#left-p{
	float:left;
	}
	
	#right-p{
	float:right;
	}
	
	#gallery {
	padding-bottom: 10px;
	width:300px;
	height: auto;
	}
}